body {
  margin: 0;
  font-family: Georgia, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-container{
  width: 100%;
  height: 500px;
}

/* Sign-in */
.container {
  position: absolute;
  width: 100%;
  height: 1000px;
  transform: rotate(-10deg);
  top: -560px;
  left: -40px;
  border-radius: 80px;
  background-color: #fbf2e6;
  display: block;
}

.user-form{
  margin: 0 auto;
  width: 500px;
  margin-top: 700px;
  transform: rotate(10deg);
}

.title{
  font-size: 4.5em;
  color: #d5af8a;
  /* color:#c3976c; */
  text-align: center;
}

.lbl{
  font-size: 1.6em;
}

.txtbox{
  width: 100%;
  height: 40px;
  background-color: transparent;
  font-size: 1.2em;
  margin: 30px 0;
  border-radius: 5px;
}

.btn{
  width: 100px;
  height: 45px;
  font-size: 1.2em;
  border-radius: 10px;
  border: none; 
  background-color: #d5af8a;
  margin-bottom: 30px;
  box-shadow: rgba(100, 100, 111, 0.25) 0px 7px 29px 0px;
}

.sign-link{
  font-size: 1.2em;
  color:#d5af8a;
  margin-left: 10px;
}

.account{
  font-size: 1.2em;
}

a:link, a:visited{
  text-decoration: none;
  color:#d5af8a;
}

/* Contacts */

.contact-title{
  margin-top: 50px;
}

.contact-form{
  margin: 0 auto;
  width: 1200px;
  margin-top: 675px;
  transform: rotate(10deg);
  padding-right: 40px;
}

.contact-span {
  display: block;
}

.logout{
  float: right;
  font-size: 2.5em;
  color: #d5af8a;
  position: relative;
  top: -45px;
}

.search-add{
  margin: 100px 20px 40px;
}

.add-contact-btn{
  width: 120px;
  height: 40px;
  font-size: 1em;
  float: right;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search-add input{
  width: 300px;
  height: 35px;
  margin-left: 10px;
  font-size: 1.1em;
  border-radius: 5px;
  background-color: transparent;
}

.search-add label, .fill-contact label{
  font-size: 1.3em;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

table{
  margin-bottom: 40px;
  font-size: 1.2em;
  letter-spacing: 0.5px;
}

#book-img{
  width: 155px;
  height: 220px;
  position: absolute;
  top: -50px;
  left:-260px;
  box-shadow: rgba(203, 113, 113, 0.24) 0px 3px 8px;
  transform: rotate(-10deg);
}

.update-btn{
  margin-top: 20px;
  margin-left: 350px;
  height: 40px;
}

/* Add Contact */
.fill-contact{
  width: 500px;
  margin: 0 auto;
  background-color: #fbf2e6;
  padding: 30px 80px;
  border-radius: 50px;
}
#add-contact{
  width: 600px;
  margin: 0 auto;
}
#add-contact h1{
  font-size: 2.3em;
  color: #d5af8a;
}

.fill-contact input{
  height: 35px;
  width: 100%;
  font-size: 1em;
  border: 2px solid #d5af8a;
  border-radius: 5px;
  padding-left:10px;
  background-color: white;
}
.fill-contact label{
  margin:0px !important;
  font-size: 1.2em;
}

.fill-contact span{
  font-size: 1.2em;
}

input[type="radio"]{
  margin: 20px 10px !important;
  width: 18px;
  height: 18px;
}

.last-labels{
  margin-top: 25px;
}

#add-contact button, .fill-contact button{
  width: 120px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1.1em;
}

.locate-me-btn{
  border: 1px solid #d5af8a;
  background-color: rgb(253, 244, 244);
  width: 100px !important;
  height: 35px !important;
}